body{
    min-height:100vh;
    background:linear-gradient(to right, #000000, #001f1f, #003333);
}
.about{
    display:inline;
}
.inter{
    color:aqua;
}
.line{
    background-color:green;
}
.image{
    display:flex;
    align-items:center;
    gap:50px;
    margin-top:40px;
}

.pass{
      width: 150px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    
}
.bio{
    display:flex;
    align-items:center;
    gap:30px;
}
.bio h1{
    color:aqua;
    margin:0;

}
.bio h3{
    color:green;
    margin-top:10px;
    margin-left:60%;
    cursor:pointer;
}
.b2{
    color:aqua;
}
.bio2{
    margin-left:30px;
}
.edu{
    color:aqua;
}
.skill{
    color:green;
}