*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color:black;
    padding:20px;
}
h1,ul,li{
    color:aqua;
    display:inline;
}
ul{
    padding-left:60%;
    cursor:pointer;
}
li:hover{
    color:green;
}
.home{
    color:green;
}
li{
    padding-right:20px;
}
.name{
    background-color: black;
    color:aqua;
    border-radius:30px;
    padding-left:20px;
    display:inline-block;
    width:50%;
    height:250px;
    margin:20px;
    padding-top:30px;
    margin-top:160px;
    margin-left:25%;
    box-shadow:0 0 20px;
    position: relative;
}
.image{
   position:absolute;
   top:40px;
   right:30px;
    
}
.image img{
    width:150px;
    height:150px;
    border-radius:50%;
}
.portfolio{
    font-family:cursive;
}
body{
    min-height:100vh;
    background:linear-gradient(to right, #000000, #001f1f, #003333);
}
.contact{
    background-color: black;
    color:aqua;
    border-radius:50px;
    width:90px;
    height:40px;
    box-shadow:0 0 20px;
    bottom:60px;
    right:50%;
    text-align: center;
    position: absolute;
    cursor:pointer;

}





